@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}
body {
  min-width: 1200px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  margin:0;
  padding:0;
  padding-top:40px;
  color: #464646;
  background-color: #ffffff;
  letter-spacing: 0.01em;
}
.button {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 8px;
  margin-top: -4.5px;
  background-color: #f0c52e;
  z-index: -1;
  top: 50%;
  left: -2px;
}
.button:hover::before,
.button:focus::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin:0;
  padding:0;
}
img {
  max-width: 100%;
  height: auto;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.2;
  font-size:15px;
}
.container {
  width:1040px;
  margin:0 auto;
}
.container-2 {
  width:1160px;
  margin:0 auto;
}
/*----------------------ХЕДЕР------------------------*/
.main-header {
  background-color: #f7e296;
  position: relative;
  width:1160px;
  margin:0 auto;
}
.main-logo {
  margin:0;
  padding:0;
  position: absolute;
  margin-top:-24px;

}
.main-logo--link {
  color:#000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size:48px;
  line-height: 48px;
}
.main-logo--link:hover,
.main-logo--link:focus {
  opacity: 0.6;
}
.main-logo--link:active {
  opacity: 0.3;
}
.user-nav {
  display: flex;
  flex-wrap: wrap;
}
.user-nav--search {
  margin-top:36px;
  margin-right: auto;
  position: relative;
}
.user-nav--search::before {
  content: "";
  position: absolute;
  width:18px;
  height: 18px;
  background:url('../img/search.svg') center no-repeat;
  left:2px;
  top:15px;
}
.search-field {
  width:355px;
  border:none;
  background-color: #f7e296;
  font-size:15px;
  line-height: 30px;
  padding-left: 40px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:10px;
  border-bottom:2px solid transparent;
}
.search-field:hover::placeholder {
  opacity: 0.5;
}
.search-field:focus,
.search-field:active {
  border-bottom:2px solid black;
}
.search-field:focus ~ .search-button {
  display: inline-block;
}
.search-button {
  font-size:15px;
  line-height: 30px;
  padding:8px 22px;
  outline:2px solid black;
  border:none;
  background-color:inherit;
  margin-left:-5px;
  display:none;
}
.search-button:focus,
.search-button:hover {
  background-color: black;
  color:white;
}
.search-button:active {
  color:#434343;
  display: inline-block;
}
.user-nav--item {
  margin-top:44px;
}
.user-nav--link {
  color:black;
  padding-left: 27px;
  position: relative;
  font-weight: 300;
}
.compare-link {
  margin-right: 36px;
}
.entrance-link {
  margin-right: 210px;
}
.cart-link::before,
.compare-link::before,
.entrance-link::before  {
  position: absolute;
  content: "";
  width:13px;
  height:13px;
  left:0;
}
.cart-link::before {
  background: url('../img/cart.svg') center no-repeat;
  top:4px;
  left:5.5px;
}
.compare-link::before {
  background: url('../img/compare.svg') center no-repeat;
  top:5px;
  left:4px;
}
.entrance-link::before {
  background: url('../img/user.svg') center no-repeat;
  top:4px;
}
.user-nav--link:focus,
.user-nav--link:hover {
  opacity: 0.6;
}
.user-nav--link:active {
  opacity: 0.2;
}
.main-nav {
  display:flex;
  flex-wrap: wrap;
  margin-top:27px;
  padding-bottom:160px;
}
.main-nav--item:first-child {
  margin-right: 180px;
  position: relative;
}
.main-nav--item:nth-child(2n) {
  margin-left: auto;
  margin-right: 35px;
}
.main-nav--item:nth-child(4n) {
  margin-right: -5px;
}
.main-nav--link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color:black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-nav--link:hover,
.main-nav--link:focus {
  opacity: 0.6;
}
.main-nav--link:active {
  opacity: 0.2;
}
.main-catalog-link {
  padding-right: 32px;
  position: relative;
}
.main-catalog-item:hover > .sub-wrapper {
  display: block;
}
.main-nav--item svg  {
  position: absolute;
  width:16px;
  height:16px;
  right:5px;
  top:6px;
  opacity: 0.3;
}
.sub-wrapper {
  position: absolute;
  width:1160px;
  background-color: #f7e296;
  z-index: 100;
  left:-60px;
  min-height: 160px;
  display: none;
  padding-left: 60px;
  box-sizing: border-box;
}
.main-nav--sub-menu {
  top:25px;
  left:0;
  padding-top:15px;
  width:551px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub-menu-column-1,
.sub-menu-column-2,
.sub-menu-column-3 {
  display: flex;
  flex-direction: column;
}
.sub-menu--link {
  font-size:15px;
  line-height: 36px;
  color:black;
  display:block;
}
.sub-menu--link:hover,
.sub-menu--link:focus {
  opacity: 0.6;
}
.sub-menu--link:active {
  opacity: 0.2;
}
/*----------------------СЛАЙДЕР------------------------*/
 .sliders {
  position: relative;
}
.slider-inner {
  width:100%;
  height: 370px;
  position: relative;
}
.slider {
  position: absolute;
  display:none;
  justify-content: space-between;
  top:-112px;
  width: 100%;

}
.slider-content {
  display:flex;
  flex-direction: column;
  padding-top:80px;
}
.slider-2,
.slider-3 {
  display: none;
}
.slider-image--wrapper {
  margin:0;
  padding:0;
  padding-left:30px;
}
.slider-2 .slider-image--wrapper {
  padding-top:20px;
  padding-left:50px;
}
.slider-3 .slider-image--wrapper {
  padding-top:65px;
  padding-left:0;
  margin-left: -30px;
}
.slider-controls--wrapper {
  position: absolute;
  right:27px;
  bottom:127px;
  z-index: 99;
  display: inline-flex;
  width:470px;
  justify-content: space-between;
  align-items: center;
}
.slider-control {
  width:10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid #000;
  display:inline-block;
  margin-left:15px;
  position: relative;
}
#slide-1:checked ~ .slider-controls--wrapper .slider-control-1::before,
#slide-2:checked ~ .slider-controls--wrapper .slider-control-2::before,
#slide-3:checked ~ .slider-controls--wrapper .slider-control-3::before {
  content: '';
  position: absolute;
  width:2px;
  height:2px;
  border-radius: 50%;
  border:1px solid #000;
  top:3px;
  right:3px;
}
#slide-1:checked ~ .slider-inner .slider-1,
#slide-2:checked ~ .slider-inner .slider-2,
#slide-3:checked ~ .slider-inner .slider-3 {
  display: flex;
}
.slider-btn {
  width:220px;
  text-align: center;
}
.slider-content {
  width:500px;
  position: relative;
  z-index: 2;
}
.slider-number {
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color:#fff;
  position: absolute;
  right:-10px;
  top:-12px;
  z-index: 1;
}
.slider-stick {
  content: "";
  position: absolute;
  width:100px;
  height: 7px;
  background-color:#fff;
  top:38px;
  right:400px;
}
.slider-top h4 {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color:black;
  margin: 0;
  padding:0;
  margin-bottom:18px;
  letter-spacing: 0.01em;
}
.slider-top p {
  padding:0;
  margin:0;
}
.slider-table {
  margin-top:132px;
  border-collapse: collapse;
  margin-right: -15px;
}
.slider-table-col {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size:36px;
  line-height: 48px;
  padding-right: 76px;
  padding-left: 1px;
}
.slider-table-head {
  font-size:13px;
  line-height: 20px;
  font-weight: 300;
  padding-top:6px;
  text-align: left;
}
/*----------------------ПОПУЛЯРНЫЕ ТОВАРЫ------------------------*/
.popular-goods {
  width:1160px;
  margin:0 auto;
  margin-top: 110px;
}
.popular-goods--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-goods--item {
  width:160px;
}
.popular-image {
  background-color: #f7e296;
  margin:0;
  padding:0;
  width:160px;
  height:160px;
  text-align: center;
  box-sizing: border-box;
}
.popular-image-vr {
  padding-top:52px;
}
.popular-image-selfie {
  padding-top:41px;
}
.popular-image-cameras {
  padding-top:38px;
  padding-left:7px;
}
.popular-image-fitness {
  padding-top:50px;
  padding-left:1px;
}
.popular-image-watch {
  padding-top:32px;
  padding-left:5px;
}
.popular-image-copters {
  padding-top:50px;
  padding-right: 2px;
}
.popular-good {
  font-family: "Gilroy", Arial, sans-serif;
  color:black;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin-top:32px;
}
.popular-goods--link:hover > .popular-image,
.popular-goods--link:focus > .popular-image,
.popular-goods--link:active > .popular-image {
  background-color: #f0c52e;
}
.popular-goods--link:active > .popular-image img,
.popular-goods--link:active > .popular-good {
  opacity: 0.3;
}
/*----------------------СЛАЙДЕР СЕРВИСОВ------------------------*/
.services-wrapper {
  background-color: #e5e5e5;
  margin-top:165px;
  height: 288px;
  position: relative;
}
.services {
  display:flex;
  justify-content: space-between;
  position: absolute;
  top:-100px;
}
.service-slider {
  display:none;
  padding-top:72px;
  padding-left: 117px;
  position: relative;
  width:759px;
}
.slider-delivery::before {
  content: '';
  position: absolute;
  width:136px;
  height: 164px;
  right:65px;
  bottom:-8px;
  background:url('../img/delivery.png') center no-repeat;
}
.slider-warranty::before {
  content: '';
  position: absolute;
  width:171px;
  height: 195px;
  right:45px;
  bottom:-10px;
  background:url('../img/warranty.png') center no-repeat;
}
.slider-credit::before {
  content: '';
  position: absolute;
  width:156px;
  height: 188px;
  right:70px;
  bottom:-10px;
  background:url('../img/credit.png') center no-repeat;
}
.services-slider-controls {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  justify-content: center;
  border-right:7px solid black;
  padding-right: 117px;
}
.service-slider-title {
  margin: 0;
  padding:0;
  font-size:47px;
  line-height: 47px;
  color:black;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.02em;
}
.service-slider-txt {
  padding:0;
  margin: 0;
  padding-top:32px;
  width:460px;
}
/*----------------------ПЕРЕКЛЮЧАТЕЛЬ СЛАЙДЕРА СЕРВИСОВ------------------------*/
#service-slide-1:checked ~ .services-slider--inner .slider-delivery,
#service-slide-2:checked ~ .services-slider--inner .slider-warranty,
#service-slide-3:checked ~ .services-slider--inner .slider-credit {
  display:block;
}
.service-slider-control {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  width:160px;
  margin-top:13px;
  margin-bottom: 7px;
}
.service-slider-control::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 8px;
  margin-top: -4.5px;
  background-color: #f0c52e;
  z-index: -1;
  top: 50%;
  left: -2px;
}
.service-slider-control:hover::before {
  top: 2px;
  left:0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}
#service-slide-1:checked ~ .services-slider-controls label[for="service-slide-1"],
#service-slide-2:checked ~ .services-slider-controls label[for="service-slide-2"],
#service-slide-3:checked ~ .services-slider-controls label[for="service-slide-3"] {
  color:#f7e184;
}
#service-slide-1:checked ~ .services-slider-controls label[for="service-slide-1"]::before,
#service-slide-2:checked ~ .services-slider-controls label[for="service-slide-2"]::before,
#service-slide-3:checked ~ .services-slider-controls label[for="service-slide-3"]::before {
  background-color: #000;
  color:#f7e184;
  width:280px;
  height: 40px;
  margin: 0;
  top:2px;
  left:0;
}
/*----------------------ПРОИЗВОДИТЕЛИ------------------------*/
.vendor-link img {
  filter: grayscale(100%);
  opacity: 0.2;
}
.vendor-link:hover img,
.vendor-link:focus img,
.vendor-link:active img {
  filter: none;
  opacity: 1;
}
/*----------------------БЛОК О НАС------------------------*/
.about-us-title {
  padding:0;
  margin:0;
  font-size:47px;
  line-height:48px;
  font-weight:800;
  font-family: "Gilroy", Arial, sans-serif;
  color:black;
}
.about-us-txt {
  font-family: "Myriad pro", Arial, sans-serif;
  margin:0;
  padding:0;
}
.about-us-partner {
  font-size:16px;
  line-height:40px;
  color:black;
  font-weight: 400;
  font-family: "Myriad pro", Arial, sans-serif;
}
/*----------------------ФУТЕР------------------------*/
.footer-wrapper {
  background-color: #464646;
}
.footer-logo {
  margin:0;
  padding:0;
}
.footer-logo--link {
  color:#ffc600;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size:48px;
  line-height: 48px;
}
.footer-user-link {
  color:white;
}
.footer-offer-link {
  color:#fff;
  font-size: 18px;
  font-weight: 24px;
  font-weight:800;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/*----------------------КАТАЛОГ------------------------*/
.catalog-title {
  margin:0;
  padding:0;
  font-size:47px;
  line-height: 48px;
  color:black;
  font-family: "Gilroy", Arial, sans-serif;
}
.breadcumb {
  font-family: inherit;
  font-size:14px;
  line-height: 24px;
  color:inherit;
}
/*----------------------ФОРМЫ КАТАЛОГА------------------------*/

.form-title-wrapper {
  background-color: #dbdbdb;
}
.form-wrapper {
  background-color: #efefef;
}
.interface-checkbox ,
.interface-radio {
  font-size:14px;
  line-height: 40px;
  color:black;
  font-family: inherit;
  font-weight: 400;
}
.filtes-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color:black;
}
.price-controls input {
  font-size:14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  opacity: 0.3;
}
.price-form,
.bluetooth-form,
.color-form {
  margin:0;
  padding:0;
  border:none;
}
.fieldset-title {
  font-size:18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color:black;
}
.filter-button {
  background-color: none;
  border:none;
}
/*----------------------КАТАЛОГ------------------------*/
.sorter-item h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color:black;
}
.sorter-link {
  color:black;
  font-size:14px;
  line-height: 18px;
  opacity: 0.3;
  font-weight: 400;
}
.sorter-link.active {
  opacity:1;
}
.sorter-link--arrow {
  font-size: 0;
}
.catalog-image-wrapper {
  margin:0;
  padding:0;
}
.product-text {
  margin:0;
  padding:0;
}
.product-text b {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
.product-text span {
  font-size:16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}
.paginator {
  background-color: #ebebeb;
}
.paginator-item a {
  font-size:16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color:black;
  text-transform: uppercase;
}
.paginator-page {
  opacity: 0.3;
}
.paginator-page.active {
  opacity: 1;
}
