@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}
body {
  min-width: 1200px;
  font-family: "open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  margin:0;
  padding:0;
  padding-top:40px;
  color: #464646;
  background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-color: #f7e296;
}
.main-logo {
  font-size:48px;
  line-height: 48px;
  margin:0;
  padding:0;
  color:#000;

}
